 { BasedOnStyle: "Google", AlignConsecutiveAssignments: true, AlignTrailingComments: true,  AllowAllParametersOfDeclarationOnNextLine: true, AllowShortCaseLabelsOnASingleLine: true, AllowShortFunctionsOnASingleLine: None, AllowShortIfStatementsOnASingleLine: true, AllowShortLoopsOnASingleLine: true, BinPackArguments: false, BinPackParameters: false, BreakBeforeBraces: Allman, BreakConstructorInitializersBeforeComma: true, ColumnLimit: 80 }
